kafka-python
requests
websockets
aiohttp-socks
python-snappy
boto3
google-api-python-client
oauth2client
geoip2
https://github.com/systemd/python-systemd/zipball/master
typing-extensions
setproctitle
